.title{
    
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 10px;
}
.drum-div{
    border-radius: 10px;
    width: 40vw;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(64, 69, 72);
    border: 5px orange solid;
    margin: auto auto;
}
.drum-div > div{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
@media screen and (max-width: 800px) {
    .drum-div{
        width: 63vw;
        height: 63vw;
    }
    
  }
  

  @media screen and (max-width: 480px) {
    .drum-div{
        width: 87vw;
        height: 87vw;
    }
  }
