*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow-x: hidden;
}
:root::-webkit-scrollbar{
    display: none;
}
h1,p{
    width: fit-content;
    font-weight: 600;
    font-family: sans-serif;
    color: aliceblue;
}
h1{
    font-size: 2.5rem;
}
p{
    font-size: 1.7rem;
}
body{
    background-color: #5c6468;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button{
    width: 11vw;
    height: 11vw;
    background-color: #5c6468;
    border: none;
    box-shadow: #000000 3px 3px 5px;
    border-radius: 10px;
}
footer{
    width: 100vw;
    border-top: 5px aliceblue solid;
    margin-top: 20px;
    
}
footer *{
    margin-top: 50px;
    margin: 20px auto;
}
@media screen and (max-width: 800px) {
    *{
        font-size: 17px;
    }
    button{
        width: 17vw;
        height: 17vw;
    }
    p{
        font-size: 1.49rem;
    }
  }
  

  @media screen and (max-width: 480px) {
    *{
        font-size: 13px;
    }
    button{
        width: 23vw;
        height: 23vw;
    }
    p{
        font-size: 1.2rem;
    }
  }